/* ProductGrid.css */
.product-grid {
  max-width: 1280px;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(
    4,
    minmax(200px, 1fr)
  ); /* Display 3 products side by side */
  gap: 10px; /* Adjust the gap between products */
  padding-bottom: 5%;
}

/* Media Query for screens wider than 900px */
@media (min-width: 900px) {
  .product-item img {
    max-width: 70%;
  }
}
